In [1]:
Day 2 - Python fundamentals

3

In [1]:
a = 1
b = 2
c = a+b
print(c)

3

In [6]:
firstname = "Syed"
print(firstname)

Syed

In [8]:
#Variable Rules

#Rule 1 - No namespaces are allowed for declaring a variable names
first name = "syed"
print(first name)

SyntaxError: invalid syntax (2778304813.py, line 2)

In [9]:
#Rule 2 - a variable name should not start with a **##!!$$%%&&==>>
1name = syed
print(1name)

SyntaxError: invalid decimal literal (1285609601.py, line 2)

In [10]:
#Rule 3 - A variable name should not contain any special characters
name@ = "syed"
print(name@)

SyntaxError: invalid syntax (1322713658.py, line 2)

In [ ]:
Introduction to data types in python
Strings      ==> str
Numbers      ==> Integers(int), Decimal(floats) 1.1, 0.2
lists        ==> list
Tuples       ==> tuple
Dictionaries ==> dict

In [ ]:
Classification of data types
Broadly data types are classified into  two categories

1. mutable datatypes ---> which can be able to edit/alter
2. Immutable datatypes --->  which can not be able to edit/alter

In [ ]:
Introduction to string datatype:
- a String is a series of characters declared in qoutes.
- it is classified as immutable datatype.
- how to declare the string
	name = 'Chris'	#Single qoute
	print(name)

	name2 = "David"	#Double qoute
	print(name2)

In [12]:
	name = 'Chris'	#Single qoute
	print(name)

	name2 = "David"	#Double qoute
	print(name2)

Chris
David